<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>KLED Iluminação</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="container">

        <img src="{{ url_for('static', filename='img/logo.png') }}"
             class="logo"
             alt="KLED Iluminação">

        <h1>KLED ILUMINAÇÃO</h1>

        <p class="descricao">
            Iluminação que transforma seus ambientes ✨
        </p>

        <div class="links">

            <a href="https://wa.me/5583998595933"
               target="_blank"
               class="botao">
                💬 Falar pelo WhatsApp
            </a>

            <a href="https://www.instagram.com/kled.iluminacao/"
               target="_blank"
               class="botao">
                📸 Instagram
            </a>

            <a href="#"
               class="botao">
                🛒 Ver nossos produtos
            </a>

            <a href="#"
               class="botao">
                📋 Solicitar orçamento
            </a>

            <a href="https://maps.app.goo.gl/1bhGZ9N3hmU8V1Gc7"
               target="_blank"
               class="botao">
                📍 Nossa localização
            </a>

        </div>

        <footer>
            <p>© 2026 KLED Iluminação</p>
        </footer>

    </main>

</body>
</html>